{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        <a class="text-success" href="{{ path('task_toggle', {'id' : task.id }) }}">{% if not task.isDone %}<span class="glyphicon glyphicon-thumbs-up" title="Tâche effectuée"></span>{% else %}<span class="glyphicon glyphicon-thumbs-down" title="Tâche à refaire"></span>{% endif %}</a>
                        <a class="text-danger" href="{{ path('task_delete', {'id' : task.id }) }}"><span title="Supprimer définitivement" class="glyphicon glyphicon-remove"></span></a>
                    </h4>
                    <h4>
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-hourglass"></span>{% endif %}
                        <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                    </h4>
                    <p>{{ task.content }}</p>
                    <p class="bottom-align-text">Auteur : <b>
                            {% if task.user is not null %}
                                {{ task.user.username }}
                            {% else %}
                                Anonyme
                            {% endif %}
                        </b>
                    </p>

                </div>

            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
